*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.navbar{
    background-color: #09ABEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}