{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <label for="" class="logo">Senac Library</label>
        <ul class="nav-link">
            <li class="nav-item"><a href="" class="item">Início</a></li>
            <li class="nav-item"><a href="" class="item">Categorias</a></li>
            <li class="nav-item"><a href="" class="item">Contatos</a></li>
        </ul>
        <form action="" class="form-search">
            <input type="search" class="search">
            <button>Buscar</button>
        </form>
    </nav>
</body>
</html>